*{
  margin: 0px;
  padding: 0;
  overflow: auto;
  text-decoration: none;
  font-family: 'Roboto Flex', sans-serif;
}

.navBar {
  justify-content:flex-end;
  display: flex;
}

.navBar >ul {
  margin-top: 50px;
  margin-left: 50px;
  
}

.navBar > ul > li {
  justify-content: space-between;
  padding: 20px;
  display:inline-block
  
  
}

.titleName {
  text-align: center;
}

.titleName > h1 {
  margin-top: 40px;
  width: 100%;
  padding-top: 100px;
  border-top: 2px solid grey;
}

.titleName > button {
  margin-top: 100px;
  background-color : lightgray;
  border-radius: 8px; 
  padding: 6px;
}

.questHeader{
  background-color: #ECE2E2;
  height: 120px;
}

.questHeader > .quest1 > h2 {
  text-align: center;
  padding-top: 50px;
  
}

.questHeader > .timer {
 padding-top: 20px;
 text-align: right;
 margin-right: 20px; 
 font-weight: 600;
}

.margin {
  background-color: #17C893;
  height: 40px;
}

.marks > h3 {
  text-align: right;
  margin-top: 15px;
  margin-right: 25px;
  font-weight: 530;
}

.marks > p {
  text-align: left;
  margin-left: 25px;
  margin-bottom: 25px;
  margin-top: 20px;
}

.answers > h4 {
  margin-left: 40px;
  margin-bottom: 15px;
}

.answers > ul {
  margin-left: 25px;
}

.answers > ul > li{
  height: 40px
}

.clearSaved {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 40px;

}

.butt2 {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 40px;
  margin-top: 40px;
}

.butt2 > button {
  padding: 8px;
  border-radius: 10px;
}

